---
import config from '../../config.ts';
---

{/* https://css-tricks.com/a-clever-sticky-footer-technique/ */}

<footer class="sticky top-full mt-[--fluid(3rem,5rem)] bg-slate-100 py-4 text-center text-sm">
  <p class="wrapper">{config.siteTitle}</p>
</footer>
