@import 'tailwindcss';

body {
  background-color: var(--color-red);
}

@utility width-9990 {
  width: 9990px;
}

@theme {
  --color-red: red;
  --color-primary: #000;
  --color-blue: blue;
  --color-green: green;
  --color-yellow: yellow;
  --color-purple: purple;
  --color-orange: orange;
  --color-pink: pink;
  --color-brown: brown;
  --color-gray: gray;
  --color-black: black;
  --color-white: white;
}
