---
import { Image, Picture } from 'astro:assets';
import example from '../assets/example.jpg';
import logo from '../assets/astro.svg';
---

<main>
  <div class="mx-auto w-[--fluid(100px,200px)]">
    <Image src={logo} alt="logo" class="size-full object-cover" />
  </div>
  <div class="h-[--fluid(14rem,500px)] w-full overflow-hidden">
    <img
      src={example.src}
      width={example.width}
      height={example.height}
      alt="example"
      class="size-full object-cover"
    />
  </div>
  <div class="my-10 h-auto w-full">
    <p class="text-center text-[size:--fluid(24px,40px)]">
      静的サイトを作成するためのAstroテンプレート
    </p>
  </div>
</main>
